* {
    font-family: 'Goseogu', sans-serif;
}

h1 {
    font-size: 58px;
    text-align: center;
    letter-spacing: 10px;
    margin-top: 15px;
}

div {
    font-size: 19px;
    font-weight: bold;
}

span {
    font-size: 19px;
    font-weight: bold;
}

.linksite {
    text-align: center;
}

.linksite img {
    margin: 20px;
    border-radius: 50px;
    transition: transform 0.3s;
    opacity: 1;
}

.linksite img:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px 4px rgb(104, 93, 93);
    opacity: 0.7;
}

#ine {
    border: #892be2 5px solid;
}

#jing {
    border: #F0A957 5px solid;
}

#lilpa {
    border: #000080 5px solid;
}

#jururu {
    border: #800080 5px solid;
}

#gosegu {
    border: #467EC6 5px solid;
}

#viichan {
    border: #85AC20 5px solid;
}

#wakcolor {
    border-top: 5px green solid;
    border-bottom: 5px green solid;
}

#indexcolor {
    border-top: 5px pink solid;
    border-bottom: 5px pink solid;
}

#inecolor {
    border-top: 5px #8A2BE2 solid;
    border-bottom: 5px #8A2BE2 solid;
}

#jingcolor {
    border-top: 5px #F0A957 solid;
    border-bottom: 5px #F0A957 solid;
}

#lilpacolor {
    border-top: 5px #000080 solid;
    border-bottom: 5px #000080 solid;
}

#jururucolor {
    border-top: 5px #800080 solid;
    border-bottom: 5px #800080 solid;
}

#gosegucolor {
    border-top: 5px #467EC6 solid;
    border-bottom: 5px #467EC6 solid;
}

#viichancolor {
    border-top: 5px #85AC20 solid;
    border-bottom: 5px #85AC20 solid;
}

.top {
    display: block;
    margin: 0 auto;
}

.material-symbols-outlined {
transition: transform 0.3s;
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 48
}

.material-symbols-outlined:hover {
transform: scale(1.1);
font-variation-settings:
'FILL' 1,
'wght' 400,
'GRAD' 0,
'opsz' 48
}

@media ( max-width: 768px ) {
    .top { 
        width:100%;
    }
    .image {
        width: 50%;
    }
}